{% extends "base_generic.html" %}

{% block content %}
    <button class="mybutton" onclick="location.href='{% url 'question-create' %}';">Create Question</button>
    <h1>Filter</h1>
    <form method="get">
        <table>
        {{ filter.form.as_table }}
        </table>
        <input type="submit" />
    </form>
    <h1>Question List:</h1>
    {% if object_list %}
        <ul class="list-group">
            {% for question in object_list %}
            <li class="list-group-item" style="background-color:rgb(99, 153, 124);">
                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <a href="{% url 'question-detail' question.id %}">{{ question }}</a>
                    </div>
                      {% if user.get_username == question.user.username %}
                    <div class="col-sm">
                        <button class="mybutton" onclick="location.href='{% url 'question-delete' question.id %}';">Delete</button>
                    </div>
                    <div class="col-sm">
                        <button class="mybutton" onclick="location.href='{% url 'question-update' question.id %}';">Update</button>
                    </div>
                      {% endif %}
                  </div>
                </div>
            </li>
            {% endfor %}
          </ul>
          {% else %}
            <p>There are no question in this app.</p>
          {% endif %}

{% endblock %}